.breadcrumb
  %a{ :href => "/" }= @home_link
  &gt;
  = @category.heading

~ @category.to_html

- @category.articles.each do |article|
  = haml :summary, :layout => false, :locals => { :article => article }
