.breadcrumb
  %a{ :href => "/" }= @home_link
  &gt;
  = @category.heading

#sidebar
  = haml :categories, :layout => false

#content
  ~ @category.to_html

  - @category.articles.each do |article|
    = haml :summary, :layout => false, :locals => { :article => article }
