- if short_name = Nesta::Config.disqus_short_name
  #disqus_thread
    - if Sinatra::Application.environment == :development
      %script(type="text/javascript")
        var disqus_developer = true;
    %script(type="text/javascript" src="http://disqus.com/forums/#{short_name}/embed.js")
    %noscript
      %a(href="http://disqus.com/forums/#{short_name}/?url=ref") View comments.
