%nav.breadcrumb
  %a(href="#{url('/')}") Home

#content
  %section(role="main")
    %h1 Sorry, something went wrong

    %p
      An error occurred whilst we were trying to serve your page. Please
      bear with us, or try another page.

= haml :sidebar, :layout => false
