.breadcrumb
  %a{ :href => "/" } Home

#content
  %h1 Sorry, something went wrong

  %p
    An error occurred whilst we were trying to serve your page. Please bear
    with us, or in the mean time, try another page.

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false
