%footer.branding
  %p
    Powered by Nesta, a
    = succeed "." do
      %a(href="http://effectif.com/nesta") Ruby CMS
    Design by
    = succeed "." do
      %a(href="http://effectif.com") Graham Ashton
