!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title
    %link{ :href => "/css/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }
  %body{ :class => @body_class }
    #container
      #wrapper
        = yield

        #footer
          %p
            Powered by
            = succeed "," do
              %a{ :href => "http://effectif.com/nesta" } nesta
            designed by
            %a{ :href => "http://effectif.com" } Graham Ashton

    = haml :analytics, :layout => false
