*
  margin: 0
  padding: 0

#wrapper
  margin: 2em 5%

h1
  padding-bottom: 0.5em
  border-bottom: #aaa 1px solid
  
  color: #555

  font-family: "Trebuchet MS"
  font-size: 300%

  text-align: center

h1 small
  display: block

  font-size: 40%