// Default ratios between font sizes; used to maintain the type hierarchy.
// http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography-part-4

$h1-scale: 2.18
$h2-scale: 1.64
$h3-scale: 1.45
$h4-scale: 1.18

// Variables used in calculations used to maintain vertical rhythm.
// http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.2/

$base-scale: 0.88
$base-font: $base-scale * 1em
$vertical-rhythm: 1.75em
$base-vertical-margin: 1.75em

@mixin adjust-font-size($scale, $top-weight: 1, $bottom-weight: 1)
  $average-margin: $base-vertical-margin / $scale
  margin-top: $average-margin * $top-weight
  margin-bottom: $average-margin * $bottom-weight
  
  $line-height: $vertical-rhythm / $scale
  @if $line-height < 1
    line-height: $line-height * 2
  @else
    line-height: $line-height

  font-size: 100% * $scale

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

@mixin transition($definition)
  -moz-transition: $definition
  -o-transition: $definition
  -webkit-transition: $definition
  transition: $definition
