.breadcrumb
  %a{ :href => "/" } Home

#content
  %h1 Page not found

  %p
    Please try another page or, if you think something is wrong with our site,
    do get in touch and let us know.

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false
