#sidebar
  -unless @query
    %form#quicksearch{:action => '/search'}
      %input.query{:name => 'q'}
      %input.submit{:type => 'submit', :value => 'Search'}

  = haml :categories, :layout => false
  = haml :feed, :layout => false
