!!! XML
%urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  %url
    %loc= path_to('/',true)
    %changefreq daily
    %priority 1.0
    %lastmod= @last.xmlschema
  - @pages.each do |page|
    - unless ::Nesta::Config.sitemap_excludes.include?(page.abspath)
      %url
        %loc= path_to(page.path,true)
        %lastmod= page.last_modified.xmlschema
