!!! XML
%urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  %url
    %loc= url('/')
    %changefreq daily
    %priority 1.0
    %lastmod= @last.xmlschema
  - @pages.each do |page|
    %url
      %loc= url(page.path)
      %lastmod= page.last_modified.xmlschema
