= haml_tag heading do
  %a{ :href => article_path(article) }= article.heading
- if article.summary.nil? || article.summary.empty?
  :markdown
    #{article.body}
- else
  :markdown
    #{article.summary}
