- unless pages.empty?
  %ol
    - pages.each do |page|
      %li
        %article
          %header
            %h1
              %a(href="#{url(page.abspath)}")= page.heading
          - if page.summary.nil? || page.summary.empty?
            ~ page.body(self)
          - else
            ~ page.summary
            %p.read_more
              %a(href="#{url(page.abspath)}")= page.read_more
          = haml :page_meta, :layout => false, :locals => { :page => page }
