- haml_tag heading do
  %a{ :href => article_path(article) }= article.heading
- if article.summary.nil? || article.summary.empty?
  :maruku
    #{article.body}
- else
  :maruku
    #{article.summary}
  %p.read_more
    %a{ :href => article_path(article) }= article.read_more
