set :application, "nesta"
set :repository, "git://github.com/gma/nesta.git"

# Set :user if you want to connect (via ssh) to your server using a
# different username. You will also need to include the user in :domain
# (see below).
#
#set :user, "deploy"
#set :domain, "#{user}@example.com"
set :domain, "example.com"

set :deploy_to, "/var/apps/#{application}"
set :thin_socket, "/tmp/thin.sock"

require "tempfile"
require "vlad"

namespace :vlad do
  remote_task :config do
    put "#{shared_path}/config/config.yml", "vlad.config.yml" do
      File.open(File.join(File.dirname(__FILE__), "config.yml")).read
    end
  end
end


