set :application, "nesta"
set :repository, "git://github.com/gma/nesta.git"

# Set :user if you want to connect (via ssh) to your server using a
# different username. You will also need to include the user in :domain
# (see below).
#
#set :user, "deploy"
#set :domain, "#{deploy}@example.com"
set :domain, "example.com"

set :deploy_to, "/var/apps/#{application}"

# ============================================================================
# You probably don't need to worry about anything beneath this point...
# ============================================================================

require "tempfile"
require "vlad"

namespace :vlad do
  remote_task :config_yml do
    put "#{shared_path}/config.yml", "vlad.config.yml" do
      File.open(File.join(File.dirname(__FILE__), "config.yml")).read
    end
  end
  
  task :setup do
    Rake::Task["vlad:config_yml"].invoke
  end
  
  remote_task :symlink_config_yml do
    run "ln -s #{shared_path}/config.yml #{current_path}/config/config.yml"
  end
  
  remote_task :symlink_attachments do
    run "ln -s #{shared_path}/content/attachments #{current_path}/public/attachments"
  end
  
  task :update do
    Rake::Task["vlad:symlink_config_yml"].invoke
    Rake::Task["vlad:symlink_attachments"].invoke
  end

  # Depending on how you host Nesta, you might want to swap :start_app
  # with :start below; :start_app works fine with Phusion Passenger, which
  # is the default app server (you can change it in the call to Vlad.load
  # in Rakefile).
  desc "Deploy the code and restart the server"
  task :deploy => [:update, :start_app]
end
